.chart {
  background-color: aliceblue;
  max-height: 90vh;
  overflow: scroll;
  max-width: 90vw;
  div {
    background-color: steelblue;
    color: white;
    font: 10px sans-serif;
    margin: 1px;
    padding: 3px;
    text-align: right;
  }
}