.chart {
    &-container {
        background-color: lavender;
        height: 90vh;
        overflow: scroll;
        width: 90vw;
    }
    &-body {
        max-height: 100%;
        max-width: 100%;
        div {
            background-color: steelblue;
            color: white;
            font: 10px sans-serif;
            margin: 1px;
            padding: 3px;
        }
    }
  }

